body {
  text-align: center;
  margin-top: 40px;
}

.section-1 {
  color: gold;
  background: url('thesesareus.jpg');
  background-size: cover;
  padding: 100px;
}

.section-1 h1 {
  font-size: 60px;
  font-weight: bold;
}

.section-2 > h1 {
  margin: 10px 20px 20px 20px;
}

.section-2 {
  background-color: beige;
  padding: 20px;
  
}

.well-color {
  background-color: khaki;
  padding: 40px;
}

h1 {
  margin: 0;
}

.section-3 {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: darkkhaki;
}


